* {
  margin: 0;
  padding: 0;
  font-family: Geneva, Arial, Helvetica, sans-serif; }

.wrapper {
  width: 66%;
  height: 1000px;
  margin-left: 17%;
  text-align: center; }
  .wrapper header .wrapper__header__logo {
    width: 220px;
    height: 60px;
    padding-top: 60px;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat; }
  .wrapper header .wrapper__header__link {
    margin-top: -150px;
    width: 200px;
    height: 30px;
    float: right;
    padding-top: 60px;
    background-image: url(../img/link.png);
    background-repeat: no-repeat;
    background-position: 30px 60px; }
    .wrapper header .wrapper__header__link .wrapper__header__link__a {
      padding: 10px; }
  .wrapper header .wrapper__header__mainMenu {
    width: 100%;
    height: 55px;
    background-color: #2a2d32; }
  .wrapper header .wrapper__header__banner {
    margin-top: 40px;
    margin-left: -4px;
    width: 100.5%;
    height: 480px;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat; }
  .wrapper nav {
    width: 100%;
    height: 335px; }
    .wrapper nav .wrapper__nav__01 {
      width: 33%;
      height: 335px;
      float: left;
      margin-top: 75px;
      background-image: url(../img/01.png);
      background-repeat: no-repeat;
      background-position: top  left; }
      .wrapper nav .wrapper__nav__01 h1 {
        margin-top: 50px;
        margin-left: 30px;
        font-size: 20px; }
      .wrapper nav .wrapper__nav__01 .wrapper__nav__01__text {
        padding-left: 135px;
        text-align: left;
        font-size: 12px;
        color: #9d9d9d; }
      .wrapper nav .wrapper__nav__01 a {
        text-decoration: none;
        color: #000;
        font-size: 11px; }
    .wrapper nav .wrapper__nav__02 {
      width: 34%;
      height: 335px;
      float: left;
      margin-top: 58px;
      background-image: url(../img/02.png);
      background-repeat: no-repeat;
      background-position: top  left; }
      .wrapper nav .wrapper__nav__02 h1 {
        margin-top: 67px;
        margin-left: 105px;
        font-size: 20px; }
      .wrapper nav .wrapper__nav__02 .wrapper__nav__02__text {
        padding-left: 145px;
        text-align: left;
        font-size: 12px;
        color: #9d9d9d; }
      .wrapper nav .wrapper__nav__02 a {
        text-decoration: none;
        color: #000;
        font-size: 11px; }
    .wrapper nav .wrapper__nav__03 {
      width: 33%;
      height: 335px;
      float: left;
      margin-top: 78px;
      background-image: url(../img/03.png);
      background-repeat: no-repeat;
      background-position: top  left; }
      .wrapper nav .wrapper__nav__03 h1 {
        margin-top: 40px;
        margin-left: 40px;
        font-size: 20px; }
      .wrapper nav .wrapper__nav__03 .wrapper__nav__03__text {
        padding-left: 130px;
        text-align: left;
        font-size: 12px;
        color: #9d9d9d; }
      .wrapper nav .wrapper__nav__03 a {
        text-decoration: none;
        color: #000;
        font-size: 11px; }

section {
  width: 100%;
  height: 350px;
  background-color: #2a2d32; }
  section .section__width {
    width: 66%;
    height: 300px;
    margin-left: 16%;
    background-image: url(../img/services.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; }
    section .section__width .section__section__width__pickture {
      padding-top: 300px; }
      section .section__width .section__section__width__pickture .section__section__width__pickture__link {
        text-decoration: none;
        color: #fff;
        padding-right: 130px; }
        section .section__width .section__section__width__pickture .section__section__width__pickture__link .section__section__width__pickture__link :hover {
          color: #f4b60d; }

.newsBanner {
  float: left;
  width: 100%;
  height: 540px;
  background-color: #f7f7f7; }
  .newsBanner .newsBanner__news {
    width: 45%;
    height: 540px;
    margin-left: 16%;
    padding-left: 200px;
    background-image: url(../img/newsIkon.png);
    background-repeat: no-repeat;
    background-position: left; }
    .newsBanner .newsBanner__news .newsBanner__news__text {
      text-align: left;
      width: 45%; }
      .newsBanner .newsBanner__news .newsBanner__news__text h1 {
        padding-top: 100px;
        font-size: 22px; }
      .newsBanner .newsBanner__news .newsBanner__news__text .newsBanner__news__text__span {
        font-size: 10px;
        color: #fff; }
      .newsBanner .newsBanner__news .newsBanner__news__text .newsBanner__news__text__p {
        font-size: 8px;
        color: #8a8a8a; }

.footer {
  width: 66%;
  height: 250px;
  margin-left: 16%;
  margin-top: 500px;
  background-image: url(../img/sponsors.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }

footer {
  width: 100%;
  height: 370px;
  background-color: #2a2d32; }
  footer .footer__info {
    margin-left: 16%;
    width: 66%;
    padding-top: 100px; }
    footer .footer__info .footer__socials {
      width: 22%;
      float: left;
      color: #fff; }
      footer .footer__info .footer__socials .list li {
        list-style: none;
        color: #828385; }
        footer .footer__info .footer__socials .list li a {
          margin-top: 20px;
          text-decoration: none;
          color: #747577;
          border-bottom: 0.5px solid #747577; }
    footer .footer__info .footer__link {
      float: left;
      width: 22%;
      color: #fff; }
      footer .footer__info .footer__link .list {
        list-style: none;
        color: #828385; }
        footer .footer__info .footer__link .list a {
          text-decoration: none;
          color: #747577;
          border-bottom: 0.5px solid #747577; }
    footer .footer__info .footer__blogroll {
      float: left;
      width: 22%;
      color: #fff; }
      footer .footer__info .footer__blogroll .list {
        list-style: none;
        color: #828385; }
        footer .footer__info .footer__blogroll .list a {
          text-decoration: none;
          color: #747577;
          border-bottom: 0.5px solid #747577; }
    footer .footer__info .footer__aboute {
      float: left;
      width: 22%;
      color: #fff; }
      footer .footer__info .footer__aboute .list {
        list-style: none;
        color: #828385; }
        footer .footer__info .footer__aboute .list a {
          text-decoration: none;
          color: #747577;
          border-bottom: 0.5px solid #747577; }

/*# sourceMappingURL=style.css.map */
