$width: 100%;
$colorText: #fff;
$colorHover: #f4b60d;
$heigthNav: 335px;

* {
  margin: 0;
  padding: 0;
  font-family: Geneva, Arial, Helvetica, sans-serif;
}



  .wrapper {
    width:66%;
    height: 1000px;
    margin-left: 17%;
    text-align: center;
    // HEADER
      header {
        .wrapper__header__logo {
          width: 220px;
          height: 60px;
          padding-top:60px;
          background-image: url(../img/logo.png);
          background-repeat: no-repeat;
        }
        .wrapper__header__link {
          margin-top: -150px;
          width: 200px;
          height: 30px;
          float: right;
          padding-top: 60px;
          background-image: url(../img/link.png);
          background-repeat: no-repeat;
          background-position: 30px 60px;
            .wrapper__header__link__a {
              padding: 10px;
            }
        }
          .wrapper__header__mainMenu {
            width: $width;
            height: 55px;
            background-color: #2a2d32;
            // .wrapper__header__mainMenu ul li{
            // position:relative;
            // float: left;
            //   .wrapper__header__mainMenu li {
            //     list-style: none;
            //     width: 115px;
            //     padding-left: 20px;
            //         .wrapper__header__mainMenu a {
            //           text-decoration: none;
            //           display:block;
            //           text-transform: uppercase;
            //           color: $colorText;
            //         }
            //       }
            //  }
          }
          .wrapper__header__banner {
            margin-top: 40px;
            margin-left: -4px;
            width:$width+0.5%;
            height: 480px;
            background-image: url(../img/banner.jpg);
            background-repeat: no-repeat;
          }
    }
    // NAV
    nav {
      width: $width;
      height: $heigthNav;
        .wrapper__nav__01 {
          width: 33%;
          height: $heigthNav;
          float: left;
          margin-top: 75px;
          background-image: url(../img/01.png);
          background-repeat: no-repeat;
          background-position: top  left;
          h1 {
            margin-top: 50px;
            margin-left: 30px;
            font-size: 20px;

          }
          .wrapper__nav__01__text {
            padding-left: 135px;
            text-align: left;
            font-size: 12px;
            color: #9d9d9d;
          }
          a {
            text-decoration: none;
            color: #000;
            font-size: 11px;
          }
        }
        .wrapper__nav__02 {
          width: 34%;
          height: $heigthNav;
          float: left;
          margin-top: 58px;
          background-image: url(../img/02.png);
          background-repeat: no-repeat;
          background-position: top  left;
          h1 {
            margin-top: 67px;
            margin-left: 105px;
            font-size: 20px;

          }
          .wrapper__nav__02__text {
            padding-left: 145px;
            text-align: left;
            font-size: 12px;
            color: #9d9d9d;
          }
          a {
            text-decoration: none;
            color: #000;
            font-size: 11px;
          }
        }
        .wrapper__nav__03 {
          width: 33%;
          height: $heigthNav;
          float: left;
          margin-top: 78px;
          background-image: url(../img/03.png);
          background-repeat: no-repeat;
          background-position: top  left;
          h1 {
            margin-top: 40px;
            margin-left: 40px;
            font-size: 20px;

          }
          .wrapper__nav__03__text {
            padding-left: 130px;
            text-align: left;
            font-size: 12px;
            color: #9d9d9d;
          }
          a {
            text-decoration: none;
            color: #000;
            font-size: 11px;
          }
        }
    }
}
    // SECTION
section {
width: $width ;
height: 350px;
background-color: #2a2d32;
  .section__width{
    width: 66%;
    height: 300px;
    margin-left: 16%;
    background-image: url(../img/services.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
        .section__section__width__pickture {
      padding-top: 300px;
       .section__section__width__pickture__link {
         text-decoration: none;
         color: $colorText;
         padding-right: 130px;
       .section__section__width__pickture__link :hover {
         color: $colorHover;
              }
          }
        }

      }
}
.newsBanner {
  float: left;
  width: $width;
  height: 540px;
  background-color: #f7f7f7;
  .newsBanner__news {
    width: 45%;
    height: 540px;
    margin-left: 16%;
    padding-left: 200px;
    background-image: url(../img/newsIkon.png);
    background-repeat: no-repeat;
    background-position: left;
    .newsBanner__news__text {
      text-align: left;
      width: 45%;
      h1 {
        padding-top: 100px;
        font-size: 22px;
      }
              .newsBanner__news__text__span{
                font-size: 10px;
                color: $colorText;
              }
        .newsBanner__news__text__p {
          font-size: 8px;
          color: #8a8a8a;

        }
    }
  }
}
.footer {
  width: 66%;
  height: 250px;
  margin-left: 16%;
  margin-top: 500px;
  background-image: url(../img/sponsors.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
footer {
  width: $width ;
  height: 370px;
  background-color: #2a2d32;
}
